body{
    background-color: #ac1d1c;
}


.conteudo{
    background-color: white;
    border-radius:5px;
}

#perfil-form{
    padding: 5%;
    
}


.title{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #ac1d1c;
    font-family: Arial;
    font-size: 25px;
    color:white;
    height: 45px;
    padding: 5px;
    
}
